<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="sauceLabSettings" type="Baseclass.Contrib.SpecFlow.Selenium.NUnit.Configuration.SauceLabSettingsSection, Baseclass.Contrib.SpecFlow.Selenium.NUnit"/>
  </configSections>
  <sauceLabSettings>
    <sauceLabConfigs>
      <add configName="test123" browser="Chrome" version="10" platform="Windows 8"/>
    </sauceLabConfigs>
    <sauceLabCredentials>
      <userName value="hello"/>
      <accessKey value="12345"/>
      <url value="http://localhost:444"/>
    </sauceLabCredentials>
  </sauceLabSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
